fastapi
pydantic
uvicorn
sqlalchemy
requests
grpcio

# pip install grpcio grpcio-tools


# Crear entorno:  python -m venv venv 
# Activar entorno: venv\Scripts\activate
# Instalar dependencias: pip install -r requirements.txt

# Ejecutar backend: uvicorn main:app --reload
# Ejecutar servidor grpc: python grpc_server.py

# Crear base de datos: python -m scripts.seed

